body{
    background-color: #F5F5F5;
}
/* Fira-Sans-font-family */
body{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 80%;
  margin: 0 auto;
}
ul li{
    list-style: none;
}
/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom:35px ;
}
/* nav-heading */
.nv-heading{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* nv-btn */
.nv-btn{
    color: #006A50;
    border: solid #006A50;
    border-radius: 8px;
    padding:0 30px 0 30px;
    height: 52px;
    margin:auto 0;
}
/* Banner */
.banner{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #C6E4D6;
    border-radius: 18px;
    margin-bottom: 80px;
 }
/* banner-i1 */
.banner-item1{
    margin: 60px 117px;
}
/* banner-item2 */
.banner-item2{
    margin: 60px 117px;
}
/* h4*/
.banner-item1 .h4{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 0.5;
    margin: 0 0 16px 0;
}
/* .banner-item1 .h1 */
.banner-item1 .h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 0 0 24px 0;
}
/* button */
.banner-item1 .btn{
    font-size: 18px;
    font-weight: 500;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;

}
/* Pillars-of-bd */
.Pillars-of-bd{
    margin-bottom: 80px;
}
/* first-title */
.first-title{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
/* title */
.first-title .title{
    width: 254px;
    height: 244px;
    border-radius: 16px;
    padding: 24px;
    background-color: white;
}
/* img */
.img-x{
    height: 64px;
    width: 64px;
}
/* title-heading */
.t-heading{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.80;
}
/* bd-p */
.bd-p{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.70;
    line-height: 24px;
}
/* Pillars-heading */
.Pillars-heading{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;
}

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
/* hero-item1 */
.hero-item1{
    padding: 32px;
    background-color:#81B4FC;
    
    border-radius: 16px;
    width: 411px;
    height: 260px;
}
/* hero-item2 */
.hero-item2{
    padding: 32px;
    background-color:#C6E4D6;
    border-radius: 16px;
    width: 411px;
    height: 260px;
}
/* hero-item3 */
.hero-item3{
    padding: 32px;
    background-color:#F7EBCF;
    border-radius: 16px;
    width: 411px;
    height: 260px;
}
.hero-item1 button{
    color: white;
    background-color: #5490F5;
}
.hero-item2 button{
    background-color: #09A15C;
    color: white;
}
.hero-item3 button{
    color: white;
    background-color: #FFC239;
}
.the-Vision-btn{
    font-size: 16px;
    font-weight: 700;
    padding: 11px 20px;
    border-radius: 8px;
    margin-top:24px;
    border: none;
}

/* section3 */
/* Dr-Muhammad-Yunus */
.Dr-Muhammad-Yunus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 16px;
    padding: 48px 24px;
    opacity: 0.80;
    margin-bottom: 80px;
}
.Dr-Muhammad-Yunus .pm-title{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.80;
    line-height: 24px;
}
.dr-title{
    color: #0E0E0E;
    opacity: 0.60;
}


/* section4 */
/* user-input */
.user-input div{
    width: 95%;
    /* height: 500px; */
    background-color: white;
    border-radius: 16px;
    margin: 0 0 80px 0;
    padding: 32px;


}

/* user-input-table */
.user-input-table{
    padding-top: 40px;
    width: 95%;
    margin: auto;
    /* margin-top: 100px; Adds a 20px margin above the table */
    
}

/* user-input-table all elemennt */
.user-input-table, .second-tr .third-tr .fourth-tr, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.first-tr{
    background-color: #C6E4D6;
}
.user-input-table tr{
    height: 70px;
}
.user-input-table th{
    text-align: start;
    padding: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
}
.user-input-table td{
    text-align: start;
    padding: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #0E0E0E;
}

.user-input-table .op{
    width: 152px;
    height: 44px;
    margin-left: 25%;
    text-align: center;
    background-color: #C6E4D6;
    padding: 12.5px 16.5px;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
}

.ui-in{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: start;
} 
/* title */
.ui-title{

}


/* section5 */

/* news */
.news{
    margin-bottom: 80px;
}
/* news-part */
.news-part{
    display: flex;
    text-align: start;
    justify-content: space-between;
    gap: 32px;
    background-color: #fff;
    padding: 56px 48px 56px 48px;
    border-radius: 24px;
    margin: 30px 0;
}

.news-part img{
    border-radius: 24px;
}
.news-part span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.70;
    margin: 12px 0;
}
.news-title{
    width: 70%;
    margin: 30px 0;
}
.news-part-h{
    
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 0.80;
}

.news-title p{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 0.70;
    line-height: 24px;
}
.news-title button{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    margin-top:32px ;
}


